<div class="row border-bottom">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="light-box-around">
      <p>All bookings <%= @bookings.count %></p>
    </div>
  </div>
</div>
</div>

<div class="container-booking-requests">
  <div class="row mt-3">
  </div>
  <div class="booking-card py-4 border-bottom">
      <div class="booking-picture">
      <%= image_tag "ellyn.png", class: "avatar"%>
    </div>

    <% @bookings.each do |booking| %>

    <div class="booking-title">
      <p class="bold"> <%= booking.user.first_name %> <%= booking.user.last_name %></p>
      <p class="lighter middle-gray"> March, 20</p>
    </div>

    <div class="booking-details">
      <p class="bold">Total Income: <%= booking.garden.price %>€</p>
      <p class="lighter middle-gray"><%= booking.garden.address %> (<%= booking.date %>, <%= booking.start_time %> - <%= booking.end_time %>)</p>
    </div>

    <% end %>

    <div class="button-accept">
      <p class="button background-green">Confirm</p>
    </div>

    <div class="button-reject">
      <p class="button background-orange">Reject</p>
    </div>
  </div>
</div>



<div class="container-booking-requests">
  <div class="row mt-3">
  </div>
  <div class="booking-card py-4 border-bottom">

    <div class="booking-picture">
      <%= image_tag "ellyn.png", class: "avatar"%>
    </div>

    <div class="booking-title">
      <p class="bold">Mariah Carey</p>
      <p class="lighter middle-gray">16.03</p>
    </div>

    <div class="booking-details">
      <p class="bold">Total Income: 150€</p>
      <p class="lighter middle-gray">Sydney, London Street 34 (September, 3rd 13:00 - 19:00)</p>
    </div>

    <div class="button-accept">
      <p class="button background-green">Confirm</p>
    </div>

    <div class="button-reject">
      <p class="button background-orange">Reject</p>
    </div>

  </div>
</div>

<div class="container-booking-requests">
  <div class="row mt-3">
  </div>
  <div class="booking-card py-4 border-bottom">

    <div class="booking-picture">
      <%= image_tag "ellyn.png", class: "avatar"%>
    </div>

    <div class="booking-title">
      <p class="bold">Mariah Carey</p>
      <p class="lighter middle-gray">16.03</p>
    </div>

    <div class="booking-details">
      <p class="bold">Total Income: 150€</p>
      <p class="lighter middle-gray">Sydney, London Street 34 (September, 3rd 13:00 - 19:00)</p>
    </div>

    <div class="button-accept">
      <p class="button background-green">Confirm</p>
    </div>

    <div class="button-reject">
      <p class="button background-orange">Reject</p>
    </div>

  </div>
</div>

<div class="container-booking-requests">
  <div class="row mt-3">
  </div>
  <div class="booking-card py-4 border-bottom">

    <div class="booking-picture">
      <%= image_tag "ellyn.png", class: "avatar"%>
    </div>

    <div class="booking-title">
      <p class="bold">Mariah Carey</p>
      <p class="lighter middle-gray">16.03</p>
    </div>

    <div class="booking-details">
      <p class="bold">Total Income: 150€</p>
      <p class="lighter middle-gray">Sydney, London Street 34 (September, 3rd 13:00 - 19:00)</p>
    </div>

    <div class="button-accept">
      <p class="button background-green">Confirm</p>
    </div>

    <div class="button-reject">
      <p class="button background-orange">Reject</p>
    </div>

  </div>
</div>

<div class="container-booking-requests">
  <div class="row mt-3">
  </div>
  <div class="booking-card py-4 border-bottom">

    <div class="booking-picture">
      <%= image_tag "ellyn.png", class: "avatar"%>
    </div>

    <div class="booking-title">
      <p class="bold">Mariah Carey</p>
      <p class="lighter middle-gray">16.03</p>
    </div>

    <div class="booking-details">
      <p class="bold">Total Income: 150€</p>
      <p class="lighter middle-gray">Sydney, London Street 34 (September, 3rd 13:00 - 19:00)</p>
    </div>

    <div class="button-accept">
      <p class="button background-green">Confirm</p>
    </div>

    <div class="button-reject">
      <p class="button background-orange">Reject</p>
    </div>

  </div>
</div>
