<div class="row border-bottom">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <div class="light-box-around">
      <p>All bookings (<%= @bookings.count %>)</p>
    </div>
  </div>
</div>
</div>

<div class="container-booking-requests">
  <div class="row mt-3">
  </div>
  <% @bookings.each do |booking| %>
  <div class="booking-card py-4 border-bottom">
    <div class="booking-picture">
      <%= image_tag "ellyn.png", class: "avatar"%>
    </div>

    <div class="booking-title">
      <p class="bold"> <%= booking.user.first_name %> <%= booking.user.last_name.first %>.</p>
      <p class="lighter middle-gray"> <%= booking.created_at.strftime("%A, %b %d") %></p>
    </div>

    <div class="booking-price-location">
      <p class="bold">Total Income: <%= booking.garden.price %>€</p>
      <p class="lighter middle-gray"> <span class="location-text"> <%= booking.garden.location %> </span></p>
    </div>

    <div class="booking-dates">
     <p><span class="d-inline-block lighter middle-gray"><%= booking.date.strftime("%A, %b %d") %></span></p>
     <p><span class="d-inline-block lighter middle-gray"><%= booking.start_time %>:00 - <%= booking.end_time %>:00</span></p>
   </div>

 <!--   buttons depending on status of booking -->

   <% if booking.status == "pending"%>

    <div class="d-flex mt-2 justify-content-around">
      <div class="mr-1">
        <%= link_to "Accept", accept_booking_path(booking), method: :patch, class: "button background-green"%>
      </div>

      <div class="ml-1">
        <%= link_to "Reject", reject_booking_path(booking), method: :patch, class: "button background-orange"%>
      </div>
    </div>

  <% elsif booking.status == "accepted"%>
    <p class="fat-green-no-effect"> Booking confirmed! </p>

  <% else %>
    <p class="fat-orange"> Booking rejected! </p>

  <% end %>

</div>

<% end %>
</div>
