<div class = "container show">

  <div class="d-flex justify-content-between mt-4">
    <div class="card-title">
      <h3><%=@garden.title%></h3>
    </div>
    <div>
      <%= link_to "Back to Gardens", gardens_path, class: "backlink"%>
    </div>
  </div>

  <div class="garden-photo">
    <% if @garden.photos.attached? %>
      <%= cl_image_tag @garden.photos.first.key, class: "show-image" %>
    <% else %>
      <%= image_tag "Garden2.jpg", class: "show-image" %>
    <% end %>
  </div>

  <div class="garden-container">

    <div class="garden-info-container">
        <h4><%=@garden.description%></h4>
        <ul class="list-inline show-icons border-bottom">
          <li class="list-inline-item"> <i class="fas fa-user-friends"></i> <%=@garden.capacity%> people</li>
          <% if @garden.barbecue == true %>
            <li class="list-inline-item"> <i class="fas fa-hamburger"></i> Grill </li>
          <% end %>
          <% if @garden.green_area == true %>
            <li class="list-inline-item"> <i class="fas fa-seedling"></i> Green Area </li>
          <% end %>
          <% if @garden.pool == true %>
            <li class="list-inline-item"> <i class="fas fa-swimming-pool"></i> Pool </li>
          <% end %>
        </ul>

        <div class= "margin-bottom-big border-bottom"> Top garden with everything you need for your family or friends. We take care that everything is clean and ready when you come and ask you to do the same when you leave. Enjoy an amazing stay and leave us a good review if you liked it, so more people can come to our lovely home. </div>

        <div class="review-container">
          <h2><b>Reviews</b></h2>
          <div class="rating p-3 border-bottom">
            <i class="fas fa-star"></i> 5
          </div>
          <div class="container reviews-container py-2">

            <!-- for each review, add a full row FROM HERE -->
            <div class="row review border-bottom">
              <div class="review-card">
                  <div class="container-avatar+name d-flex py-2 align-items-center">
                  <div><%= image_tag "ellyn.png", class: "avatar"%></div>
                  <div class="name px-4"> Laura </div>
                </div>
                <div class="review description py-1">
                  <p>Amazing garden!</p>
                </div>
              </div>
            </div>
            <!-- TILL HERE -->

            <!-- delete this test rom, FROM HERE -->
            <div class="row review border-bottom">
              <div class="review-card">
                  <div class="container-avatar+name d-flex py-2 align-items-center">
                  <div><%= image_tag "ellyn.png", class: "avatar"%></div>
                  <div class="name px-4"> Laura </div>
                </div>
                <div class="review description py-1">
                  <p>Amazing garden!</p>
                </div>
              </div>
            </div>
            <!-- TILL HERE -->
            <div class="row border-bottom">
              <div class="review-creator py-3">
                <p>Leave a review:</p>
                <%= simple_form_for [@garden] do |f| %>
                 <%= f.input :description, label: false, class: 'form-control', :input_html => {style: 'width: 700px'}  %>
                 <%= f.submit "Post", class: "btn btn-light" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="garden-location">
          <div class="location py-2">
            <%=@garden.location%>
          </div>
          <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>

    </div>

    <div class="garden-booking border">
      <h2><b><%=@garden.price%>$/hour</b></h2>

      <div class="form">
        <%= simple_form_for [@garden, @booking] do |f| %>
        <%= f.input :date, placeholder: 'Date', label: false, as: :string, input_html: {class: "datepicker"} %>
        <div class="d-flex justify-content-between">
          <%= f.input :start_time, prompt: 'Start time', label: false,collection: (0..24).to_a, input_html: {style: 'width: 150px'} %>
          <%= f.input :end_time, prompt: 'End time', label: false,collection: (0..24).to_a, input_html: {style: 'width: 150px'} %>
        </div>
        <div class="d-flex justify-content-between">
          <p>Total</p>
          <div class="calculation" data-price="<%= @garden.price %>">
            _
          </div>
        </div>
        <%= f.submit "Book", class: "btn btn-success w-100"%>
        <% end %>
      </div>
    </div>

  </div>

<!--  @garden.reviews.each do |review|
  review.content
  review.booking.user.name -->

</div>
